# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
ENV/
.venv/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*
notebooks/products_export.csv

# Environment Variables (PENTING: Jangan upload file ini ke Repo)
.env
.env.local

# Logs
logs/
*.log

# Database
*.db
*.sqlite
*.sqlite3
postgres_data/

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/
.DS_Store

# Data exports
exports/*.csv
data/*.csv
data/*.json

.html

